.typing-container {
    display: inline-block;
    position: relative;
}

.typing-text {
    display: inline;
}

.cursor {
    position: absolute;
    width: 3px;
    height: 40px;
    border-radius: 3px;
    top: 10px;
    right: 0;
    animation: expand-contract 1s ease-in-out infinite;
}

.paragraph.cursor {
    height: 20px;
    top: 0;
}

.dark .cursor {
    background-color: var(--color-text-dark);
}

.light .cursor {
    background-color: var(--color-text-light);
}

@keyframes expand-contract {
    0%,
    20%,
    80%,
    100% {
        transform: scaleY(1);
    }
    40%,
    60% {
        transform: scaleY(0);
    }
}

.active {
    display: inline-block;
    transition: all 0.5s ease;
    transform: scale(2);
}

.logo-animation {
    animation: appearing 0.5s ease-in;
}

@keyframes appearing {
    0% {
        opacity: 0;
        transform: translate(30px) rotate(50deg);
    }

    100% {
        transform: translateX(0);
    }
}
