.homepage-container {
    background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: appear 0.5s ease-in-out forwards;
}
