#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  animation: appear 0.5s ease-in-out;
  overflow: hidden;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#root::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 48%;
  width: 27%;
  height: 50%;
  background:
    radial-gradient(circle at center, var(--color-accent) 0%, rgba(129, 255, 125, 0) 45%),
    url("/static/React-icon.svg") no-repeat center center;
  z-index: -1;
  animation: rotate 60s linear infinite;
}

.dark #root::after {
  filter: blur(10px) brightness(50%);
}

.light #root::after {
  filter: blur(10px) opacity(70%);
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

.landing-background {
  height: 100vh;
}

.landing p {
  font-size: 21px;
}

.tilt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-button {
  opacity: 0;
  animation: appear 0.5s ease-in 2s 1 forwards;
  z-index: 0;
}

.track-on-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;

  transform-style: preserve-3d;

  .inner-element {
    animation: appear 3s ease-in-out;
    transform: translateZ(100px);
  }

  .inner-element img:first-child {
    position: absolute;
    left: -180px;
    top: 280px;
    scale: 0.7;
    transform: rotate(30deg);
  }

  .inner-element img:nth-child(2) {
    position: absolute;
    left: 240px;
    top: 330px;
    transform: rotate(-70deg) rotateY(180deg);
  }

  .inner-element img:nth-child(3) {
    position: absolute;
    scale: 0.4;
    transform: rotate(70deg) rotateY(180deg);
    left: -200px;
    top: 70px;
  }
  .inner-element img:nth-child(4) {
    position: absolute;
    transform: rotate(90deg);
    left: 350px;
    top: 100px;
  }
  .inner-element img:nth-child(5) {
    position: absolute;
    left: -150px;
    top: 100px;
  }
}
.section-background {
  height: 100vh;
}

.bash {
  filter: hue-rotate(220deg);
}

.dark .bg-section-3 {
  background: linear-gradient(#23272f00 0%, #29454e 10%, #60c4dc 100%);
}

.light .bg-section-3 {
  background: linear-gradient(#ffffff00 0%, #ffffff 5%, #60c4dc 50%);
}

.comet {
  background: 30% 50% url("../../Commet-back.svg");
  rotate: 90deg;
}

.comet-1 {
  background: 30% 50% url("../../Commet-back.svg");
  rotate: -90deg;
}

.fade-out {
  animation: appear 0.5s ease-in-out reverse forwards;
}
